.demo-loadmore-list {
    min-height: 350px;
  }
  .loadmore {
    text-align: center;
    margin-top: 12px;
    height: 32px;
    line-height: 32px;
  }

  .inputType{
    display: flex;
    justify-content: center;
width: 400px;
height: 100px;
margin-left: 30px;
  
    
  }

