<ul nz-list [nzDataSource]="data" nzBordered nzSize="large">
  <nz-list-header>Header</nz-list-header>
  <ng-container *ngFor="let item of data; let i = index">
    <li nz-list-item nzNoFlex>
      <ul nz-list-item-actions>
        <nz-list-item-action>
          <a (click)="showModal(i)">Edit</a>
        </nz-list-item-action>
      </ul>
      {{ item }}
    </li>
  </ng-container>
  <nz-list-footer>Footer</nz-list-footer>
</ul>

<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="Edit Item"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
>
  <ng-container *nzModalContent >
 
    <textarea class="inputType" type="text" [(ngModel)]="editedItem" > </textarea>
  </ng-container>
</nz-modal>
